body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5; /*1.5*15=22.5px*/
    color: #121212;
    background: url("img/bg.jpg");
}

*,
*:before,
*:after {
    box-sizing: border-box; /*для всех элементов убрать все отступы*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.page {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
}

.container {
    display: flex;
}

.img { /*картинка*/
    display: block;
    max-width: 100%; /*максим ширина картинки 100% содержимого*/
    height: auto;
    margin-bottom: 20px;
}

/*Header*/

.header {
    padding: 20px;
    background-color: #121212;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;
    font-size: 16px;
    color: #738af5;
    text-align: center;
    font-weight: 400; /*не жирный*/
}

/*Nav*/
.nav {
    flex-wrap: wrap;
    
    text-align: center; /*блок с сылками по центру*/
    display: flex;
    justify-content: center;
}

.nav-link { /*наши ссылки*/

    padding: 8px 12px;
    text-decoration: none; /*уберем подчеркивание*/
    color: #121212;

    transition: background-color 0.2s linear;
}

.nav-link:hover { /*при наводе*/
    background-color: #eee; /*фон серый*/
}

/*Content*/
.intro-img { /*наша картинка лого*/
    border-radius: 10px;
    box-shadow: 0 3px 5px #ee1818;
    background-color: #222;
    opacity: 0.8;

    transition: opacity 0.2s linear;
}

.intro-img:hover {
    opacity: 1;
}

.content {
    width: 800px;
    padding: 0 20px;
}


.content-title {
    margin: 0 0 15px;
    font-size: 24px;
    color: red;
}

.content-text {
    margin-bottom: 20px;
}

.read-more {
    color: blue;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/*Sidebar*/
.sidebar {
    width: 200px;
    padding: 10px;
    background-color: #eee;
}

.sidebar-title { /*заголовок сайтбара*/
    margin-bottom: 20px;
    font-size: 16px;
    color: #ee0024;
}

.sidebar-img { /* класс у картинки*/
    background: linear-gradient(to top, #fff, #eee);

}

.sidebar-text { /*текст сайдбара*/
    font-size: 12px;
}


/*Article*/
.article-title {
    font-size: 18px;
    color: blue;
    margin: 0 0 5px;
}

.article-data {
    display: block;
    font-size: 12px;
    color: #ccc;
}

.article {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.article-title a {
    color: inherit; /*наследовать цвет заголовка*/
    text-decoration: none;
}

.article-title a:hover {
    text-decoration: underline;
}

/*Footer*/
.footer {
    padding: 20px;
    background-color: #121212;
    color: #fff;
    text-align: center;
}